body {
	background-color:black;
	color: white;
	margin-top: 1.5cm;
}

h1 {color: purple;
	width: 1000px;
	margin: auto;
	text-align: center;
	margin-bottom: 0.8cm;
}

#original{
	width: 1280px;
	margin: auto;
}

#one{
	border: 3px solid purple;
	width: 1000px;
	margin: auto;

}